<nav id="navbar-flat">
    <div id="navbar-flat-content">
        <span id="navbar-flat-logo">Food 4fit</span>
        <div id="navbar-flat-search">
            <input type="text" placeholder="Pesquise">
        </div>

        <div id="navbar-flat-menu">
            <img src="assets/images/icons/menu.svg" alt="Menu">
        </div>
        <div id="navbar-flat-buycart">
            <img src="assets/images/icons/buycart.svg" alt="Carrinho de Compras">
        </div>
        <div id="navbar-flat-login">
            <img src="assets/images/icons/user.svg" alt="Login">
        </div>
    </div>
</nav>
