<aside id="sidebar-right">
	<h2>FOOD 4FIT</h2>
	<div class="sidebar-separator"></div>
	<ul class="sidebar-right-list padding-right-30px">
		<li><a href="">Meu Perfil</a></li>
		<li><a href="">Pedidos</a></li>
		<li><a href="">Minhas Dietas</a></li>
		<li><a href="">Favoritos</a></li>
		<li><a href="">Diário de Bordo</a></li>
		<li><a href=""><span>12</span>Notificações</a></li>
	</ul>
	<div class="sidebar-separator"></div>
	<ul class="sidebar-right-list padding-right-30px">
		<li><a href="">Meus Comentários</a></li>
		<li><a href="">Minhas Publicações</a></li>
		<li><a href="">Meus Pratos</a></li>
		<li><a href="">Agenda</a></li>
	</ul>
	<div class="sidebar-separator"></div>
	<ul class="sidebar-right-list padding-right-30px">
		<li><a href="">Configurações</a></li>
		<li><a href="">Termos de Uso</a></li>
		<li><a href="">Logout</a></li>
	</ul>
	<div class="sidebar-separator"></div>

	<div id="sidebar-right-close">
		<img src="assets/images/simbols/close.svg" alt="Fechar Menu">
	</div>
</aside>
