<aside id="sidebar">
    <h2>Food 4fit</h2>
    <div class="sidebar-separator"></div>
    <ul class="sidebar-list">
        <li><a href="home.php">Home</a></li>
        <li><a href="">Pratos</a></li>
        <li><a href="">Tabelas</a></li>
        <li><a href="sobre.php">Sobre</a></li>
        <li><a href="">Contato</a></li>
    </ul>
    <div class="sidebar-separator"></div>
    <ul class="sidebar-list">
        <li><a href="">Teste</a></li>
        <li><a href="">Teste</a></li>
        <li><a href="">Teste</a></li>
        <li><a href="">Teste</a></li>
        <li><a href="">Teste</a></li>
        <li><a href="">Teste</a></li>
    </ul>

    <div id="sidebar-close">
        <img src="assets/images/simbols/close.svg" alt="Fechar Menu">
    </div>
</aside>
