<aside id="sidebar-left">
	<h2>FOOD 4FIT</h2>
	<div class="sidebar-separator"></div>
	<ul class="sidebar-left-list padding-left-30px">
		<li><a href="home.php">Página Inicial</a></li>
		<li><a href="">Pratos</a></li>
		<li><a href="">Fit Session</a></li>
		<li><a href="sobre.php">Sobre Nós</a></li>
		<li><a href="contato.php">Fale Conosco</a></li>
	</ul>
	<div class="sidebar-separator"></div>
	<ul class="sidebar-left-list padding-left-30px">
		<li><a href="">Publicações</a></li>
		<li><a href="">Dicas de Saúde</a></li>
		<li><a href="">Personal Fitness</a></li>
	</ul>
	<div class="sidebar-separator"></div>
	<h3 class="padding-left-30px">Filtros</h3>

	<span class="sidebar-filter-label padding-top-30px padding-left-30px padding-bottom-15px">Categoria:</span>
	<div class="filter-box margin-auto">
		<ul class="sidebar-left-list padding-left-15px padding-top-15px padding-bottom-15px">
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
		</ul>
	</div>

	<span class="sidebar-filter-label padding-top-30px padding-left-30px padding-bottom-15px">Ingrediente:</span>
	<div class="filter-box margin-auto">
		<ul class="sidebar-left-list padding-left-15px padding-top-15px padding-bottom-15px">
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
		</ul>
	</div>

	<span class="sidebar-filter-label padding-top-30px padding-left-30px padding-bottom-15px">Objetivo:</span>
	<div class="filter-box margin-auto margin-bottom-30px">
		<ul class="sidebar-left-list padding-left-15px padding-top-15px padding-bottom-15px">
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
			<li><a href="">Categoria X</a></li>
		</ul>
	</div>

	<span class="sidebar-filter-label padding-top-30px padding-left-30px padding-bottom-15px">Preço:</span>
	<div class="filter-box-price margin-auto margin-bottom-30px">

	</div>
	<div id="sidebar-left-close">
		<img src="assets/images/simbols/close.svg" alt="Fechar Menu">
	</div>
</aside>
