
/* FORMULÁRIOS */
.form-generic{
  height: auto;
  position: relative;
}
.form-generic-content{
  height: auto;
}
.label-generic{
  font-size: 18px;
  font-family: "Roboto Regular";
  color: #000;
  display: block;
}
.label-rdo{
  font-size: 16px;
  font-family: "Roboto Regular";
  color: #000;
}
.input-generic{
  width: 100%;
  border-radius: 5px;
  display: block;
  background-color: #E8E8E8;
  border: none;
  outline: none;
  height: 40px;
  text-indent: 15px;
  font-family: "Roboto Regular";
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
}
input[type=radio]{
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.textarea-generic{
  width: 100%;
  resize: none;
  height: 150px;
  background-color: #E8E8E8;
  border-radius: 5px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto Regular";
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 15px;
}
/*==========================================*/

/* BOTÃO GENÉRICO */
.btn-generic{
	/*Botão genérico*/
	width: 120px;
	height: auto;
	background: #9CC283;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	transition: 300ms ease-out;
}
.btn-generic span{
	/*Texto do botão genérico*/
	display: block;
	color: #FFF;
	font-family: "Roboto Bold";
	font-size: 16px;
	padding: 10px;
}
.btn-generic:hover{
	/*Ação ao mover o mouse no botão genérico*/
	transform: scale(1.02);
	cursor: pointer;
}
.btn-generic-disabled{
    /*Botão genérico desabilitado*/
	width: 120px;
	height: auto;
	background: #9F9F9F;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	transition: 300ms ease-out;
}
.btn-generic-disabled span{
	/*Texto do botão genérico desativado*/
	display: block;
	color: #7F7F7F;
	font-family: "Roboto Bold Italic";
	font-size: 16px;
	padding: 10px;
}

.form-generic .controls {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.form-generic .controls .cancel {
	font-size: 16px;
    line-height: 28px;
    color: #616161;
    font-family: "Roboto Italic";
    cursor: pointer;
    margin: 0 20px;
}
