.butto-basic-information{
    width: 100%;
    height: auto;
    display: flex;

}

#txtpergunta{
    width: 100%;
    border-radius: 5px;
    display: block;
    background-color: #E8E8E8;
    border: none;
    outline: none;
    height: 40px;
    text-indent: 15px;
    font-family: "Roboto Regular";
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.texto{
    font-size: 18px;
    font-family: "Roboto Regular";
}

#modal-conf{
    width: 100%;
    max-width: 900px;
    height: auto;
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid #E8E8E8;
    font-family: "Roboto Regular";
    border-radius: 5px;
}

.frase-maior{
    font-size: 30px;
    font-family: "Roboto Bold";
}

.texto-modal{
    font-size: 18px;
    font-family: "Roboto Regular";
}
