.input-number-group {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.input-number-group input[type=number]::-webkit-inner-spin-button,
.input-number-group input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
}
.input-number-group .input-group-button {
  line-height: calc(80px/2 - 5px);
}
.input-number-group .input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
  display: block;
  margin: 0;
}
.input-number-group .input-number-decrement {
  margin-right: 0.3rem;
}

.input-number-group .input-number-increment {
  margin-left: 0.3rem;
}


.shopping-cart-title-menu{
    width: 100%;
    height: auto;
    display: flex;
    background-color: #F2F2F2;
}
.shopping-cart-grid{
    width: 100%;
    height: auto;
}
.shopping-cart-menu-column{
    width: 25%;
    height: auto;
}
.shopping-cart-menu-column span{
    display: block; text-align: center; font-size: 18px; font-family: 'Roboto Bold'; color: #000;
}
.shopping-cart-row{
  display: flex;
  width: 100%;
  height: auto;
}
.shopping-cart-column{
    width: 25%;
    height: auto;
    box-sizing: border-box;
    border: 30px solid #FCFCFC;
}
.shopping-cart-column h2{
    font-size: 21px; font-family: 'Roboto Bold'; color: #000;
}
.shopping-cart-column h3{
    font-size: 16px; font-family: 'Roboto Light'; line-height: 24px; color: #282828;
}
.shopping-cart-column span{
    font-family: 'Roboto Medium'; color: #000; display: block; font-size: 18px;
}
.shopping-cart-column p{
    font-size: 16px; line-height: 24px; font-family: 'Roboto Light'; color: #282828;
}
.shopping-cart-column.align{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.shopping-cart-image-container{
    margin: 0;
    padding: 0;
}
.shopping-cart-image-container img{
    max-width: 100%;
    display: block;
    border-radius: 10px;
    box-sizing: 5px 5px 10px rgba(0,0,0,0.1);
    z-index: 444;
}
.shopping-cart-price, #shopping-cart-qty{
    font-size: 18px; font-family: 'Roboto Medium'; text-align: center; display: block; color: #282828;
}
#shopping-cart-price-total{
    font-size: 28px; font-family: 'Roboto Bold'; text-align: center; display: block; color: #000;
}
#shopping-cart-select-block{
    width: 100%; height: auto; display: flex; align-items: center;
}
#shopping-cart-select-block label{
    display: block; font-family: 'Roboto Medium'; font-size: 18px; color: #000;
}
#shopping-cart-confirm-block{
    width: 100%; height: auto; display: flex; flex-direction: row;
}
#shopping-cart-confirm-column-one{
    width: 100%; height: auto;
}
#shopping-cart-confirm-column-two{
    width: 100%; height: auto; display: flex; flex-direction: column; justify-content: flex-end; align-items: flex-end;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
#shopping-cart-address-block{
    width: 100%;
    height: auto;
}
#shopping-cart-address-block a{
    text-decoration: none;
    font-size: 16px;
    font-family: "Roboto Medium Italic";
    color: #7F7F7F;
}
#shopping-cart-address-block h3{
    font-size: 18px;
    font-family: "Roboto Regular";
    color: #000;
    text-align: center;
}
#shopping-cart-address-row{
    width: 100%;
    height: auto;
    display: flex;
}
.shopping-cart-address-column-title{
    display: block;
    font-size: 21px;
    font-family: "Roboto Medium";
    color: #000;
}
.shopping-cart-address-subtitle{
    display: block;
    font-size: 16px;
    font-family: "Roboto Light";
    color: #7f7f7f;
    margin-top: 10px;
    text-align: center;
}
.shopping-cart-address-column{
    width: 100%;
    height: auto;
}
.shopping-cart-address-column div{
    display: flex;
    width: 100%;
    height: auto;
}
.shopping-cart-address-column div input{
    display: block;
}
.shopping-cart-address-column div label{
    display: block;
}
