.success-case-card{
    width: 100%;
    max-width: 800px;
    height: auto;
    background-color: #E8E8E8;
    box-sizing: border-box;
    position: relative;
}

.profile-picture{
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
}
.profile-picture>div{
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 50px;
}
.profile-picture>div>img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: block;
}
.success-case-card span{
    font-family: "Roboto Bold";
    font-size: 18px;
    color: #000;
    display: block;
    padding-left: 15px;
}
.success-case-card p{
    width: 55%;
    min-width: 90px;
    font-size: 16px;
    font-family: "Roboto Italic";
}
