.hide{
    display: none;
}
/* BLOCO/WRAPPER GENÉRICO - 100% DE LARGURA */
.generic-block{
    width: 100%;
    height: auto;
    position: relative;
    background-color: #FCFCFC;
    overflow: hidden;
}
/*==========================================*/

/* ESTRELAS DE AVALIAÇÃO */
.avaliation-stars{
    height: auto;
    width: 125px;
    display: flex;
    justify-content: space-between;
}
.avaliation-stars-image{
    width: 20px;
    height: 20px;
    display: inline-block;
}
/*==========================================*/

/* MENU CONTEXTUAL DE TRÊS PONTOS */
.options-dots{
	width: 30px;
	height: auto;
	position: absolute;
	top: 20px;
	right: 10px;
}
.options-dots img{
	max-width: 100%;
	max-height: 100%;
	display: block;
}
/*==========================================*/

/* CHECKBOX ESTILIZADO */
.switch_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45px;
    justify-content: center;
    align-items: center;
}
input[type="checkbox"].switch-styled{
    font-size: 30px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 45px;
    height: 26px;
    background: #ddd;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch-styled:checked{
    background: #9CC823;
}

input[type="checkbox"].switch-styled:after{
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #fff;

    -webkit-transform: scale(.7);
            transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch-styled:checked:after{
    left: calc(100% - 26px);
}
/*==========================================*/

/* GRID GENÉRICO */
.generic-grid{
    /*Container-mãe da grelha genérica responsiva*/
    width: 100%;
    height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border: 30px solid #FCFCFC;
    margin: 0 auto;
    display: grid;
    display:-ms-grid;
    grid-auto-flow: row;
    grid-gap: 30px 30px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    justify-content: flex-start;
    align-items: flex-start;
}
.generic-card{
    /*Card da grelha genérica responsiva*/
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 4px 4px 10px 4px rgba(0,0,0,0.1);
    transition: 200ms ease-in-out;
    cursor: pointer;
    position: relative;
}
.generic-card:hover{
    /*Ação ao mover o mouse no card da grelha genérica responsiva*/
    box-shadow: 4px 4px 10px 4px rgba(0,0,0,0.2);
}
.generic-card-img{
    /*Imagem do card da grelha genérica responsiva*/
    max-width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    transition: 300ms ease-in-out;
}
.generic-card-overlay{
    /*Container acima do card da grelha genérica responsiva*/
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(transparent, rgba(0,0,0,0.5));
    box-shadow: 4px 4px 10px 4px rgba(0,0,0,0.1);
    transition: 200ms ease-in-out;
}
.generic-card:hover .generic-card-img{
    /*Ação ao mover o mouse no card da grelha genérica responsiva*/
    transform: scale(1.08);
}
.card-dish-name{
    /*Nome do prato da grelha genérica responsiva*/
    display: block;
    color: #FFF;
    font-size: 26px;
    font-family: "Roboto Bold";
    width: 80%;
    margin: auto;
    text-align: center;
}
.card-dish-separator{
    /*Separador da grelha genérica responsiva*/
    width: 30px;
    height: 3px;
    border-radius: 30px;
    background-color: #fff;
}
.card-dish-description{
    /*Descrição do prato da grelha genérica responsiva*/
    width: 80%;
    font-size: 16px;
    line-height: 21px;
    font-family: "Roboto Regular";
    color: #FFF;
    text-align: center;
}
.card-dish-price{
    /*Preço do prato da grelha genérica responsiva*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    background: #E85858;
    width: 160px;
    height: 40px;
    transition: 50ms ease-out;
    border-radius: 5px;
}
.card-dish-price:hover{
    transform: scale(1.02);
}
.card-dish-price span{
    font-size: 18px;
    color: #FFF;
    font-family: "Roboto Medium";
    display: block;
}
.card-dish-price div{
    width: 28px;
    height: 28px;
}
.card-dish-price div img{
    max-width: 100%;
    display: block;
}
/*==========================================*/

/* PAGINADOR */
.pagination {
    display: inline-block;
}
.pagination a {
    color: #000;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-family: "Roboto Bold";
    font-size: 14px;
    transition: background-color .3s;
    box-sizing: border-box;
    background: #E8E8E8;
    margin: 0 4px;
    border-radius: 3px;
}
.pagination a.active {
    background: #9CC283;
    color: #FFF;
    box-sizing: border-box;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
/*==========================================*/

/*CLASSES DO SLIDER*/
.slider-1200-250{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.slider_content{
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 500ms ease-out;
}
.slider {
    display: none;
    width: 100%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    transition: 300ms ease;
    border-radius: 0 3px 3px 0;
    z-index: 999;
    text-decoration: none;
    background: rgba(0,0,0,0.2);
}
.prev {
    left: 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background: rgba(0,0,0,0.5);
    color: #9CC283;
}
/*==========================================*/

/* BOTÃO GENÉRICO */
.btn-generic{
    /*Botão genérico*/
    width: 120px;
    height: auto;
    background: #9CC283;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    transition: 300ms ease-out;
}
.btn-generic span{
    /*Texto do botão genérico*/
    display: block;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    color: #FFF;
    font-family: "Roboto Bold";
    font-size: 16px;
    padding: 10px;
}
.btn-generic:hover{
    /*Ação ao mover o mouse no botão genérico*/
    transform: scale(1.02);
    cursor: pointer;
}
.btn-generic-disabled{
    /*Botão genérico desabilitado*/
    width: 120px;
    height: auto;
    background: #9F9F9F;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    transition: 300ms ease-out;
}
.btn-generic-disabled span{
    /*Texto do botão genérico desativado*/
    display: block;
    color: #7F7F7F;
    font-family: "Roboto Bold Italic";
    font-size: 16px;
    padding: 10px;
}
/*==========================================*/

/* MODAL GENERICO */
.generic-modal{
	width: 100vw;
	height: 100vh;
    z-index: 999999;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 30px solid transparent;
	background: rgba(0, 0, 0, 0.5);
}
.generic-modal.show{
    display: flex;
}
.generic-modal-wrapper{
	width: auto;
	height: auto;
	box-sizing: border-box;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 10px;
	background-color: #FFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.close-modal{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 21px;
	height: 21px;
	overflow: hidden;
    cursor: pointer;
}
.close-modal img{
	width: 21px;
	height: 21px;
	display: block;
}
.generic-modal-row{
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
	flex-direction: row;
}
.generic-modal-wrapper>h2{
	font-family: "Roboto Bold";
	font-size: 28px;
	color: #000;
	text-align: center;
}
.generic-modal-wrapper>h2::after{
	content: "";
	display: block;
	width: 80px;
	height: 5px;
	border-radius: 50px;
	background-color: #000;
	margin: 20px auto;
}
.generic-modal-wrapper>p{
	width: 80%;
	display: block;
	font-family: "Roboto Regular";
	color: #282828;
	text-align: center;
	font-size: 16px;
	line-height: 21px;
	margin: 0 auto;
}
.generic-modal-wrapper>p>a{
	font-family: "Roboto Bold Italic";
	color: #E85858;
	text-decoration: none;
}
.btn-generic-modal{
	width: auto;
	height: auto;
	box-sizing: border-box;
	border-radius: 5px;
	transition: 200ms ease-in-out;
    cursor: pointer;
}
.btn-generic-modal:hover{
	-webkit-transform: scale(1.05);
	   -moz-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	     -o-transform: scale(1.05);
	        transform: scale(1.05);
}
.btn-generic-modal.confirm{
	background-color: #9CC283;
}
.btn-generic-modal.confirm>span{
	font-size: 18px;
	padding: 16px;
	font-family: "Roboto Bold";
	color: #FFF;
	width: 90%;
	box-sizing: border-box;
	display: block;
	text-align: center;
}
.btn-generic-modal.cancel{
	background-color: #282828;
}
.btn-generic-modal.cancel>span{
	font-size: 18px;
	padding: 16px;
	font-family: "Roboto Medium Italic";
	color: #7F7F7F;
	width: 90%;
	box-sizing: border-box;
	display: block;
	text-align: center;
}
/*==========================================*/

/* SEPARADOR GENÉRICO */
.separator-black{
    /*Separador genérico preto*/
    width: 80px;
    height: 3px;
    background-color: #000;
    border-radius: 50px;
}
.separator-white{
    /*Separador genérico branco*/
    width: 80px;
    height: 3px;
    background-color: #FFF;
    border-radius: 50px;
}
/*==========================================*/

/* POSICIONADORES - MARGIN */

/*Margin automático*/
.margin-auto{
    margin: 0 auto;
}
.margin-top-auto{
    margin-top: auto;
}
.margin-bottom-auto{
    margin-bottom: auto;
}
.margin-right-auto{
    margin-right: auto;
}
.margin-left-auto{
    margin-left: auto;
}

/*Margin em 0px*/
.margin-top-0px{
    margin-top: 0px;
}
.margin-bottom-0px{
    margin-bottom: 0px;
}
.margin-right-0px{
    margin-right: 0px;
}
.margin-left-0px{
    margin-left: 0px;
}

/*Margin em 5px*/
.margin-top-5px{
    margin-top: 5px;
}
.margin-bottom-5px{
    margin-bottom: 5px;
}
.margin-right-5px{
    margin-right: 5px;
}
.margin-left-5px{
    margin-left: 5px;
}

/*Margin em 15px*/
.margin-top-15px{
    margin-top: 15px;
}
.margin-bottom-15px{
    margin-bottom: 15px;
}
.margin-right-15px{
    margin-right: 15px;
}
.margin-left-15px{
    margin-left: 15px;
}

/*Margin em 30px*/
.margin-top-30px{
    margin-top: 30px;
}
.margin-bottom-30px{
    margin-bottom: 30px;
}
.margin-right-30px{
    margin-right: 30px;
}
.margin-left-30px{
    margin-left: 30px;
}

/*Margin em 60px*/
.margin-top-60px{
    margin-top: 60px;
}
.margin-bottom-60px{
    margin-bottom: 60px;
}
.margin-right-60px{
    margin-right: 60px;
}
.margin-left-60px{
    margin-left: 60px;
}
/*==========================================*/

/* POSICIONADORES - PADDING */

/*Padding automático*/
.padding-top-auto{
    padding-top: auto;
}
.padding-bottom-auto{
    padding-bottom: auto;
}
.padding-right-auto{
    padding-right: auto;
}
.padding-left-auto{
    padding-left: auto;
}

/*Padding em 0px*/
.padding-top-0px{
    padding-top: 0px;
}
.padding-bottom-0px{
    padding-bottom: 0px;
}
.padding-right-0px{
    padding-right: 0px;
}
.padding-left-0px{
    padding-left: 0px;
}

/*Padding em 5px*/
.padding-top-5px{
    padding-top: 5px;
}
.padding-bottom-5px{
    padding-bottom: 5px;
}
.padding-right-5px{
    padding-right: 5px;
}
.padding-left-5px{
    padding-left: 5px;
}

/*Padding em 15px*/
.padding-top-15px{
    padding-top: 15px;
}
.padding-bottom-15px{
    padding-bottom: 15px;
}
.padding-right-15px{
    padding-right: 15px;
}
.padding-left-15px{
    padding-left: 15px;
}

/*Padding em 30px*/
.padding-top-30px{
    padding-top: 30px;
}
.padding-bottom-30px{
    padding-bottom: 30px;
}
.padding-right-30px{
    padding-right: 30px;
}
.padding-left-30px{
    padding-left: 30px;
}

/*Padding em 60px*/
.padding-top-60px{
    padding-top: 60px;
}
.padding-bottom-60px{
    padding-bottom: 60px;
}
.padding-right-60px{
    padding-right: 60px;
}
.padding-left-60px{
    padding-left: 60px;
}
/*==========================================*/

/* LARGURAS */
.width-full{
  width: 95%;
  max-width: 1200px;
}
.width-big{
  width: 95%;
  max-width: 1000px;
}
.width-medium{
  width: 95%;
  max-width: 900px;
}
.width-small{
  width: 95%;
  max-width: 600px;
}
/*==========================================*/

/* FORMULÁRIOS */
.form-generic{
  height: auto;
  position: relative;
}
.form-generic-content{
  height: auto;
}
.form-title{
    font-size: 18px;
    color: #000;
    font-family: "Roboto Regular";
    padding-bottom: 15px;
    text-align: center;
}
.form-row{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.form-row>span{
    font-family:'Roboto Medium Italic';
    color: #7F7F7F;
    font-size: 18px;
    display: block;
    transition: 200ms ease-in-out;
}
.form-row>span:hover{
    color: #282828;
    cursor: pointer;
}
.label-generic{
  font-size: 18px;
  font-family: "Roboto Bold";
  color: #000;
  display: block;
}
.label-rdo{
  font-size: 16px;
  font-family: "Roboto Bold";
  color: #000;
}
.input-generic{
  width: 100%;
  border-radius: 5px;
  display: block;
  background-color: #E8E8E8;
  border: none;
  outline: none;
  height: 40px;
  text-indent: 15px;
  font-family: "Roboto Regular";
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
}
input[type=radio]{
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.textarea-generic{
  width: 100%;
  resize: none;
  height: 150px;
  background-color: #E8E8E8;
  border-radius: 5px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto Regular";
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 15px;
}
/*==========================================*/

/*BARRA DE REDES SOCIAIS*/
.social-bar{
    width: 100px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 30px;
    right: 20px;
}
.social-bar img{
    width: 28px;
    height: 28px;
    display: block;
}
/*==========================================*/
