.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

#monte-seu-prato-container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

#ingredientes-categorias {
    width: 100%;
    max-width: 360px;
    height: 100%;
    float: left;
    background-color: #9CC283;
    overflow: auto;
}

#categorias, #ingredientes {
    margin: 0 auto 20px auto;
    width: 320px;
}

#categorias h2,#ingredientes h2{
    font-family: "Roboto Bold";
    font-size: 21px;
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

#lista-categorias {
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0;
    padding-bottom: 5px;
}

#lista-categorias::-webkit-scrollbar {
    height: 5px;
}

.categoria{
    width: 155px;
    height: 155px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    position: relative;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    animation: fadeIn 200ms linear;
}
.ingrediente{
    width: 155px;
    height: 155px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    position: relative;
    display: inline-block;
    cursor: pointer;
    animation: fadeIn 200ms linear;
}
.categoria:first-of-type {
    margin: 0;
}
.categoria img, .ingrediente img {
    width: 100%;
    height: 100%;
}
.categoria .titulo, .ingrediente .titulo {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
}
.categoria .titulo h3, .ingrediente .titulo h3 {
    font-size: 22px;
    color: #fff;
    font-family: "Roboto Bold";
    white-space: normal;
}
.ingrediente:nth-child(2n) {
    margin-left: 10px;
}

.ingrediente:nth-child(n+3) {
    margin-top: 10px;
}

#ingredientes-categorias.sem-ingredientes #lista-categorias {
    overflow-x: visible;
    white-space: normal;
}

#ingredientes-categorias.sem-ingredientes #ingredientes {
    display: none;
}

#ingredientes-categorias.sem-categorias #categorias {
    display: none;
}

#ingredientes-categorias.sem-ingredientes.sem-categorias #categoria-vazia {
    display: block;
}

#ingredientes-categorias.sem-ingredientes .categoria {
    margin-left: 0;
}

#ingredientes-categorias.sem-ingredientes .categoria:nth-child(2n) {
    margin-left: 10px;
}

#ingredientes-categorias.sem-ingredientes .categoria:nth-child(n+3) {
    margin-top: 10px;
}
#categoria-vazia {
    text-align: center;
    display: none;
    font-size: 25px;
    font-family: "Roboto Regular";
    padding: 10px;
    box-sizing: border-box;
}
#breadcrumb {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    padding-bottom: 0;
    text-overflow: clip;
    position: relative;
    background-color: inherit;
    min-height: 30px;
    font-family: "Roboto Bold";
}
#breadcrumb::before {
    content: "\02026";
    position: absolute;
    z-index: 1;
    left: -1em;
    background-color: inherit;
    padding-left: 1em;
    margin-left: 0.5em;
    color: #fff;
}
#breadcrumb>span {
    min-width: 100%;
    position: relative;
    display: inline-block;
    float: right;
    overflow: visible;
    background-color: inherit;
    text-indent: 0.5em;
}

#breadcrumb>span::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: inherit;
    z-index: 200;
    left: -.5em;
}
#breadcrumb a {
    color: #F2F2F2;
    text-decoration: none;
    font-family: "Roboto Bold Italic";
}
#breadcrumb a::after {
    content: ">";
    margin: 0 5px;
}
#breadcrumb a:last-of-type::after {
    display: none;
}
.bar{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.bar>a{
    font-family: 'Roboto Bold';
    color: #3f3f3f;
    font-size: 14px;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    transition: 200ms ease-in-out;
}
.bar>a:hover{
    color: #000;
}
#meus-ingredientes {
    width: calc(100% - 360px);
    height: 100%;
    min-height: 424px;
    float: left;
    background-color: #E8E8E8;
    overflow-y: auto;
}

#meus-ingredientes::-webkit-scrollbar-thumb {
    background-color: #fff;
}
#lista-categorias::-webkit-scrollbar {
    background-color: #ddd;
}
#lista-categorias::-webkit-scrollbar-thumb {
    background-color: #fff;
}
#meus-ingredientes .ingrediente {
    margin: 10px 0 0 10px;
}
