.profile-header-block{
	width: 100%;
	height: auto;
    background-image: url('../images/backgrounds/cover.jpg');
    background-size: cover;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.profile-header-overlay{
	width: 100%;
    height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.profile-header-option{
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.profile-header-option img{
	max-width: 100%;
	max-height: 100%;
	display: block;
	transition: 800ms ease-in-out;
}
.profile-header-option:hover img{
	transform: scale(1.05);
	cursor: pointer;
}
.profile-header-image{
	width: 250px;
	height: 250px;
	min-width: 250px;
	min-height: 250px;
	border-radius: 200px;
	box-sizing: border-box;
	background-color: #FFFF;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 5px solid #fff;
}
.profile-header-image img{
	width: 250px;
	height: 250px;
	min-width: 250px;
	min-height: 250px;
	display: block;
	margin: 0;
	padding: 0;
	border-radius: 200px;
}
.profile-name{
	font-size: 28px;
	font-family: "Roboto Regular";
	text-align: center;
	color: #fff;
}
.profile-email{
	font-size: 21px;
	font-family: "Roboto Light";
	text-align: center;
	color: #FAFAFA;
	display: block;
}
.profile-section-block{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
}
.profile-section-column{
	width: 100%;
	height: auto;
	box-sizing: border-box;
    overflow: hidden;
	border: 30px solid #FCFCFC;
}
.profile-section-column h3{
	font-family: "Roboto Bold";
	font-size: 21px;
	color: #000;
}
.profile-info-list{
	list-style-type: none;
	width: 100%;
}
.profile-info-list li{
	font-family: "Roboto Bold";
	margin-bottom: 15px;
	font-size: 18px;
}
.profile-info-list li span{
	font-family: "Roboto Regular";
}
.profile-section-column a{
	font-family: "Roboto Medium Italic";
	font-size: 18px;
	color: #7F7F7F;
	text-decoration: none;
	display: block;
}
.profile-myactions-card{
	width: 100%;
	height: auto;
	background-color: #f6f6f6;
	border-radius: 10px;
	position: relative;
	box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.2);
	z-index: 89999;
}
.profile-myactions-location, .profile-myactions-postdate{
	font-family: "Roboto Medium Italic";
	font-size: 18px;
	color: #7F7F7F;
	display: block;
}
.profile-myactions-pub-name{
	font-family: "Roboto Bold";
	font-size: 21px;
	color: #000;
}
.profile-myactions-image{
	width: 100%;
	height: auto;
}
.profile-myactions-image img{
	max-width: 100%;
	display: block;
}
.profile-myactions-comment{
	width: 85%;
	font-family: "Roboto Regular";
	font-size: 16px;
	line-height: 24px;
}
.profile-myactions-description{
	font-family: "Roboto Regular";
	width: 80%;
	font-size: 16px;
	color: #282828;
	line-height: 24px;
}
.social-bar{
	width: 100px;
	height: 28px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 30px;
	right: 20px;
}
.social-bar img{
	width: 28px;
	height: 28px;
	display: block;
}
.green{
	fill: #9CC283;
}
