/*SESSAO SOBRE NÓS*/
#about-us-block{
    /*Sessao-filho do cabeçalho da página sobre*/
    width: 100%;
	height: auto;
}

#about-us-content{
    /*Container-filho do cabeçalho da página sobre*/
    width: 100%;
	height: auto;
}

#text-about-us{
    /*Container-filho do cabeçalho da página sobre*/
    width: 100%;
	height: auto;
}


figure{
    width: 100%;
    max-width: 1200px;
    height: 300px;
}

img{
    width: 100%;
    height: 100%;
}

/*SESSAO ESTRUTURA FISICA*/
#physical-structure-block{
     /*Sessao-filho do cabeçalho da página sobre*/
    width: 100%;
	height: auto;
}

#physical-structure-content{
    width: 100%;
	height: auto;
}

#text-physical-structure{
    width: 100%;
	height: auto;
}

/*SESSAO ESTRUTURA FISICA*/
#online-service-block{
     /*Sessao-filho do cabeçalho da página sobre*/
    width: 100%;
	height: auto;
}

#online-service-content{
    width: 100%;
	height: auto;
}

#text-online-service{
    width: 100%;
	height: auto;
}
