/* FOLHA DE ESTILO GERAL

SITE: FOOD 4FIT;
CRIADO POR: EQUIPE ARISCODE
GUIA DE USO DE CLASSES: URL

*/

/* CORPO DO HTML */
*{
  	margin: 0;
  	padding: 0;
}
body{
	/*Corpo do site*/
	margin: 0;
	padding: 0;
	font-family: "Roboto Regular";
}
.main{
	/*Container-mãe do block do site*/
	width: 100%;
	height: auto;
	max-width: 1200px;
	margin: 124px auto 0px auto;
	background-color: #FCFCFC;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 1;
    overflow: hidden;
}
::-webkit-scrollbar{
	/*Estilização da scrollbar*/
	width: 6px;
	background: #FFF;
}
::-webkit-scrollbar-thumb{
	/*Estilização da scrollbar*/
	border-radius: 50px;
	background-color: #9CC283;
}
.box-shadow{
	/*Sombra padrão para elementos soltos*/
	-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}
/*==========================================*/

/* TÍTULO DA PÁGINA */
#page-title{
	/*Título da página*/
	display: block;
	font-size: 18px;
	letter-spacing: -0.2px;
	font-family: "Roboto Bold";
	color: #000;
	padding: 30px;
	text-align: center;
    margin: 0 auto;
	padding-bottom: 0px;
	animation: fadeIn 1.5s linear;
}
#page-title::after{
	/*Barra separada do título da página*/
	content: "";
	display: block;
	width: 30px;
	height: 3px;
	margin: auto;
	border-radius: 30px;
	background-color: #000;
	margin-top: 8px;
	animation: fadeIn 1s linear;
}
#page-subtitle{
    width: 90%;
    max-width: 460px;
    height: auto;
    text-align: center;
    color: #7F7F7F;
    font-family: "Roboto Regular";
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    margin-top: 5px;
    animation: fadeIn 1s linear;
}
/*==========================================*/

/* BARRA DE NAVEGAÇÃO */
#navbar-flat{
	/*container-mãe da barra de navegação*/
	width: 100%;
	height: auto;
	background-color: #FCFCFC;
	z-index: 89999;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0px -4px 32px 16px rgba(0,0,0,0.05);
}
#navbar-flat-content{
	/*container-filho da barra de navegação*/
	width: 100%;
	max-width: 1200px;
	margin: auto;
	position: relative;
}
#navbar-flat-logo{
	/*Nome da loja*/
	font-family: "Roboto Black";
	font-weight: lighter;
	display: block;
	font-size: 28px;
	width: 140px;
	color: #9CC283;
	text-align: center;
	text-decoration: none;
	padding: 12px;
	margin: 0 auto;
}
#navbar-flat-search{
	/*Container-mãe da barra de pesquisa*/
	width: 95%;
	max-width: 520px;
	margin: auto;
	height: auto;
    position: relative;
    margin-bottom: 20px;
}
#navbar-flat-search>form>input{
	/*Barra de pesquisa*/
	width: 100%;
	height: 40px;
	border-radius: 50px;
	text-indent: 15px;
	background-color: transparent;
	border: 3px solid #9CC283;
	outline: none;
	font-family: "Roboto Regular";
}
#navbar-flat-search-button{
    width: 24px;
    height: 24px;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
}
#navbar-flat-search-button>img{
    width: 100%;
    height: 100%;
    display: block;
}
#navbar-flat-search>form>input::placeholder{
	font-family: "Roboto Italic";
	font-size: 16px;
	color: #C8C8C8;
}
#navbar-flat-login{
	/*Botão de Usuário*/
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	right: 10px;
	overflow: hidden;
}
#navbar-flat-login>img{
	/*Imagem botão usuário*/
	max-width: 100%;
	max-height: 100%;
	display: block;
	cursor: pointer;
}
#user-bubble{
	/*Balão que informa notificações no botão Usuário*/
	position: absolute;
	top: 5px;
	right: 5px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E85858;
	cursor: pointer;
}
#user-bubble span{
	/*Texto no balão*/
	font-size: 10px;
	color: #FFF;
}
#buycart-bubble{
	/*Balão de itens no carrinho*/
	position: absolute;
	top: 5px;
	right: 55px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E85858;
	cursor: pointer;
}
#buycart-bubble span{
	/*Texto no balão*/
	font-size: 10px;
	color: #FFF;
}
#navbar-flat-menu{
	/*Botão do menu hamburguer*/
	width: 40px;
	height: 40px;
	position: absolute;
	top: 10px;
	left: 10px;
	overflow: hidden;
}
#navbar-flat-menu img{
	/*Imagem do menu hamburguer*/
	max-width: 100%;
	max-height: 100%;
	display: block;
	cursor: pointer;
}
#navbar-flat-buycart{
	/*Botão do carrinho*/
	width: 30px;
	height: 30px;
	position: absolute;
	top: 17px;
	right: 65px;
	overflow: hidden;
}
#navbar-flat-buycart img{
	/*Imagem do carrinho*/
	max-width: 100%;
	max-height: 100%;
	display: block;
	cursor: pointer;
}
/*==========================================*/

/* RODAPÉ */
#footer-flat{
	/*Container-mãe do rodapé*/
	width: 100%;
	background: #FCFCFC;
}
#footer-flat-content{
	/*Container-filho do rodapé*/
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	height: auto;
}
#footer-flat-content span{
	/*Nome da Loja no rodapé*/
	display: block;
	font-size: 38px;
	font-family: "Roboto Black";
	text-align: center;
	color: #EDBF85;
    width: 85%;
    margin: 0 auto;
}
#footer-flat-content p{
	/*Descrição no rodapé*/
	font-size: 18px;
	font-family: "Roboto Regular";
	text-align: center;
    width: 85%;
    margin: 0 auto;
	color: #000;
}
#footer-flat-content b{
	/*Copyright*/
	display: block;
	font-size: 21px;
	font-family: "Roboto Bold";
	text-align: center;
    width: 85%;
    margin: 0 auto;
	color: #000;
}
#footer-flat-content a{
    /*Termos de Uso*/
	display: block;
	font-size: 18px;
	font-family: "Roboto Medium Italic";
	text-align: center;
    margin: 0 auto;
	color: #7f7f7f;
    text-decoration: none;
}
/*==========================================*/

/*
	MENU LATERAL ESQUERDO
	Menu expansivo reservado para funcionalidades referentes ao conteúdo do site.
*/
#sidebar-left{
	/*Container do menu lateral*/
	width: 100%;
	max-width: 350px;
	height: 100vh;
	background: #FCFCFC;
	box-shadow: 0px -4px 32px 16px rgba(0,0,0,0.18);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	overflow-y: scroll;
	z-index: 99999;
}
#sidebar-left-close{
	/*Botão para fechar o menu lateral*/
	width: 30px;
	height: 30px;
	position: absolute;
	top: 20px;
	right: 20px;
	transition: 200ms ease-in-out;
}
#sidebar-left-close>img{
	/*Imagem do "X" do botão*/
	max-width: 100%;
	max-height: 100%;
	display: block;
	cursor: pointer;
}
#sidebar-left-close:hover{
	/*Ação ao mover o mouse no botão fechar*/
	transform: scale(1.02);
}
#sidebar-left h2{
	/*Nome da loja no topo do menu*/
	font-family: "Roboto Black";
	font-weight: lighter;
	font-size: 28px;
	color: #9CC283;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 0px;
}
.sidebar-separator{
	/*Separador interno dos menus laterais*/
	width: 85%;
	height: 2px;
	background: #ddd;
	margin: 20px auto;
}
.sidebar-left-list{
	/*Lista com UL para os menus laterais*/
	margin: 0 auto;
	padding-top: 0px;
	list-style-type: none;
}
.sidebar-left-list li a{
	/*Links das listas dos menus laterais*/
	display: block;
	text-decoration: none;
	color: #000;
	font-family: "Roboto Medium";
	padding: 5px;
    padding-bottom: 10px;
    transition: 50ms ease-in-out;
}
.sidebar-left-list>li>a:hover{
    color: #9CC283;
    padding-left: 7px;
}
/*==========================================*/

/*
	MENU LATERAL DIREITO
	Menu expansivo reservado para funcionalidades referentes ao usuário logado.
*/
#sidebar-right{
	/*Container do menu lateral*/
	width: 100%;
	max-width: 350px;
	height: 100vh;
	background: #FCFCFC;
	box-shadow: 0px -4px 32px 16px rgba(0,0,0,0.18);
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
}
#sidebar-right-close{
	/*Botão para fechar o menu lateral*/
	width: 30px;
	height: 30px;
	position: absolute;
	top: 20px;
	left: 20px;
	transition: 200ms ease-in-out;
}
#sidebar-right-close>img{
	/*Imagem do "X" do botão*/
	max-width: 100%;
	max-height: 100%;
	display: block;
	cursor: pointer;
}
#sidebar-right-close:hover{
	/*Ação ao mover o mouse no botão fechar*/
	transform: scale(1.02);
}
#sidebar-right h2{
	/*Nome da loja no topo do menu*/
	font-family: "Roboto Black";
	font-size: 28px;
	color: #9CC283;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 0px;
}
.sidebar-right-list{
	/*Lista com UL para os menus laterais*/
	margin: 0 auto;
	padding-top: 0px;
	list-style-type: none;
}
.sidebar-right-list li a{
	/*Links das listas dos menus laterais*/
    display: block;
	text-decoration: none;
	color: #000;
	font-family: "Roboto Medium";
	padding: 5px;
    padding-bottom: 10px;
    transition: 50ms ease-in-out;
	text-align: right;
	position: relative;
}
.sidebar-right-list li a span{
	/*Número para informar a quantidade de itens dentro de um link*/
	position: absolute;
	left: 30px;
	color: #5F5F5F;
}
.sidebar-right-list>li>a:hover{
    color: #9CC283;
    padding-right: 7px;
}
/*==========================================*/
