/* FOLHA DE ESTILO GERAL

SITE: FOOD 4FIT;
CRIADO POR: EQUIPE ARISCODE
GUIA DE USO DE CLASSES: URL

*/

/* CORPO DO HTML */
*{
  	margin: 0;
  	padding: 0;
}
body{
	/*Corpo do site*/
	margin: 0;
	padding: 0;
	font-family: "Roboto Regular";
}
.main{
	/*Container-mãe do block do site*/
	width: 100%;
	height: auto;
	max-width: 1200px;
	margin: 124px auto 0px auto;
	background-color: #FCFCFC;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	z-index: 1;
    overflow: hidden;
}
::-webkit-scrollbar{
	/*Estilização da scrollbar*/
	width: 6px;
	background: #FFF;
}
::-webkit-scrollbar-thumb{
	/*Estilização da scrollbar*/
	border-radius: 50px;
	background-color: #9CC283;
}
.box-shadow{
	/*Sombra padrão para elementos soltos*/
	-webkit-box-shadow: 0px -4px 32px 16px rgba(0,0,0,0.05);
-moz-box-shadow: 0px -4px 32px 16px rgba(0,0,0,0.05);
box-shadow: 0px -4px 32px 16px rgba(0,0,0,0.05);
}
/*==========================================*/

/* TÍTULO DA PÁGINA */
#page-title{
	/*Título da página*/
	display: block;
	font-size: 18px;
	letter-spacing: -0.2px;
	font-family: "Roboto Bold";
	color: #000;
	padding: 30px;
	text-align: center;
    margin: 0 auto;
	padding-bottom: 0px;
	animation: fadeIn 1.5s linear;
}
#page-title::after{
	/*Barra separada do título da página*/
	content: "";
	display: block;
	width: 30px;
	height: 3px;
	margin: auto;
	border-radius: 30px;
	background-color: #000;
	margin-top: 8px;
	animation: fadeIn 1s linear;
}
#page-subtitle{
    width: 90%;
    max-width: 460px;
    height: auto;
    text-align: center;
    color: #7F7F7F;
    font-family: "Roboto Regular";
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    margin-top: 5px;
    animation: fadeIn 1s linear;
}
/*==========================================*/

/* BARRA DE NAVEGAÇÃO */
#navbar-flat{
	/*container-mãe da barra de navegação*/
	width: 100%;
	height: auto;
	background-color: #FCFCFC;
	z-index: 89999;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0px -4px 32px 16px rgba(0,0,0,0.05);
}
#navbar-flat-content{
	/*container-filho da barra de navegação*/
	width: 100%;
	max-width: 1200px;
	margin: auto;
	position: relative;
}
#navbar-flat-logo{
	/*Nome da loja*/
	font-family: "Roboto Black";
	font-weight: lighter;
	display: block;
	font-size: 28px;
	width: 140px;
	color: #9CC283;
	text-align: center;
	text-decoration: none;
	padding: 12px;
	margin: 0 auto;
}
#navbar-flat-search{
	/*Container-mãe da barra de pesquisa*/
	width: 95%;
	max-width: 520px;
	margin: auto;
	height: auto;
}
#navbar-flat-search input{
	/*Barra de pesquisa*/
	width: 100%;
	height: 40px;
	border-radius: 50px;
	text-indent: 15px;
	background-color: transparent;
	border: 3px solid #9CC283;
	outline: none;
	font-family: "Roboto Regular";
	margin-bottom: 20px;
}
#navbar-flat-search input::placeholder{
	font-family: "Roboto Italic";
	font-size: 16px;
	color: #C8C8C8;
}
#navbar-flat-login{
	/*Botão de Usuário*/
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	right: 10px;
	overflow: hidden;
}
#navbar-flat-login img{
	/*Imagem botão usuário*/
	max-width: 100%;
	max-height: 100%;
	display: block;
	cursor: pointer;
}
#user-bubble{
	/*Balão que informa notificações no botão Usuário*/
	position: absolute;
	top: 5px;
	right: 5px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E83131;
	cursor: pointer;
}
#user-bubble span{
	/*Texto no balão*/
	font-size: 10px;
	color: #FFF;
}
#buycart-bubble{
	/*Balão de itens no carrinho*/
	position: absolute;
	top: 5px;
	right: 55px;
	width: 22px;
	height: 22px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E83131;
	cursor: pointer;
}
#buycart-bubble span{
	/*Texto no balão*/
	font-size: 10px;
	color: #FFF;
}
#navbar-flat-menu{
	/*Botão do menu hamburguer*/
	width: 40px;
	height: 40px;
	position: absolute;
	top: 10px;
	left: 10px;
	overflow: hidden;
}
#navbar-flat-menu img{
	/*Imagem do menu hamburguer*/
	max-width: 100%;
	max-height: 100%;
	display: block;
	cursor: pointer;
}
#navbar-flat-buycart{
	/*Botão do carrinho*/
	width: 30px;
	height: 30px;
	position: absolute;
	top: 17px;
	right: 65px;
	overflow: hidden;
}
#navbar-flat-buycart img{
	/*Imagem do carrinho*/
	max-width: 100%;
	max-height: 100%;
	display: block;
	cursor: pointer;
}
/*==========================================*/

/* RODAPÉ */
#footer-flat{
	/*Container-mãe do rodapé*/
	width: 100%;
	background: #FCFCFC;
}
#footer-flat-content{
	/*Container-filho do rodapé*/
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	height: auto;
}
#footer-flat-content span{
	/*Nome da Loja no rodapé*/
	display: block;
	font-size: 38px;
	font-family: "Roboto Black";
	text-align: center;
	background: -webkit-linear-gradient(45deg, #9CC283, #EDBF85);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 85%;
    margin: 0 auto;
}
#footer-flat-content p{
	/*Descrição no rodapé*/
	font-size: 18px;
	font-family: "Roboto Regular";
	text-align: center;
    width: 85%;
    margin: 0 auto;
	color: #000;
}
#footer-flat-content b{
	/*Copyright*/
	display: block;
	font-size: 21px;
	font-family: "Roboto Bold";
	text-align: center;
    width: 85%;
    margin: 0 auto;
	color: #000;
}
#footer-flat-content a{
    /*Termos de Uso*/
	display: block;
	font-size: 18px;
	font-family: "Roboto Medium Italic";
	text-align: center;
    margin: 0 auto;
	color: #7f7f7f;
    text-decoration: none;
}
/*==========================================*/

/* ESTRELAS DE AVALIAÇÃO */
.avaliation-stars{
    height: auto;
    width: 125px;
    display: flex;
    justify-content: space-between;
}
.avaliation-stars-image{
    width: 20px;
    height: 20px;
    display: inline-block;
}
/*==========================================*/
.options-dots{
	width: 30px;
	height: auto;
	position: absolute;
	top: 20px;
	right: 10px;
}
.options-dots img{
	max-width: 100%;
	max-height: 100%;
	display: block;
}

/* CHECKBOX ESTILIZADO */
.switch_box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 45px;
    justify-content: center;
    align-items: center;
}
input[type="checkbox"].switch-styled{
    font-size: 30px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    width: 45px;
    height: 26px;
    background: #ddd;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch-styled:checked{
    background: #9CC823;
}

input[type="checkbox"].switch-styled:after{
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #fff;

    -webkit-transform: scale(.7);
            transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch-styled:checked:after{
    left: calc(100% - 26px);
}
/*==========================================*/

/*
	MENU LATERAL ESQUERDO
	Menu expansivo reservado para funcionalidades referentes ao conteúdo do site.
*/
#sidebar-left{
	/*Container do menu lateral*/
	width: 100%;
	max-width: 350px;
	height: 100vh;
	background: #FCFCFC;
	box-shadow: 0px -4px 32px 16px rgba(0,0,0,0.18);
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	overflow-y: scroll;
	z-index: 99999;
}
#sidebar-left-close{
	/*Botão para fechar o menu lateral*/
	width: 30px;
	height: 30px;
	position: absolute;
	top: 20px;
	right: 20px;
	transition: 200ms ease-in-out;
}
#sidebar-left-close>img{
	/*Imagem do "X" do botão*/
	max-width: 100%;
	max-height: 100%;
	display: block;
	cursor: pointer;
}
#sidebar-left-close:hover{
	/*Ação ao mover o mouse no botão fechar*/
	transform: scale(1.02);
}
#sidebar-left h2{
	/*Nome da loja no topo do menu*/
	font-family: "Roboto Black";
	font-weight: lighter;
	font-size: 28px;
	color: #9CC283;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 0px;
}
.sidebar-separator{
	/*Separador interno dos menus laterais*/
	width: 85%;
	height: 2px;
	background: #ddd;
	margin: 20px auto;
}
.sidebar-left-list{
	/*Lista com UL para os menus laterais*/
	margin: 0 auto;
	padding-top: 0px;
	list-style-type: none;
}
.sidebar-left-list li a{
	/*Links das listas dos menus laterais*/
	display: block;
	text-decoration: none;
	color: #000;
	font-family: "Roboto Medium";
	padding: 5px;
    padding-bottom: 10px;
    transition: 50ms ease-in-out;
}
.sidebar-left-list>li>a:hover{
    color: #9CC283;
    padding-left: 7px;
}
/*==========================================*/

/*
	MENU LATERAL DIREITO
	Menu expansivo reservado para funcionalidades referentes ao usuário logado.
*/
#sidebar-right{
	/*Container do menu lateral*/
	width: 100%;
	max-width: 350px;
	height: 100vh;
	background: #FCFCFC;
	box-shadow: 0px -4px 32px 16px rgba(0,0,0,0.18);
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
}
#sidebar-right-close{
	/*Botão para fechar o menu lateral*/
	width: 30px;
	height: 30px;
	position: absolute;
	top: 20px;
	left: 20px;
	transition: 200ms ease-in-out;
}
#sidebar-right-close>img{
	/*Imagem do "X" do botão*/
	max-width: 100%;
	max-height: 100%;
	display: block;
	cursor: pointer;
}
#sidebar-right-close:hover{
	/*Ação ao mover o mouse no botão fechar*/
	transform: scale(1.02);
}
#sidebar-right h2{
	/*Nome da loja no topo do menu*/
	font-family: "Roboto Black";
	font-size: 28px;
	color: #9CC283;
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 0px;
}
.sidebar-right-list{
	/*Lista com UL para os menus laterais*/
	margin: 0 auto;
	padding-top: 0px;
	list-style-type: none;
}
.sidebar-right-list li a{
	/*Links das listas dos menus laterais*/
    display: block;
	text-decoration: none;
	color: #000;
	font-family: "Roboto Medium";
	padding: 5px;
    padding-bottom: 10px;
    transition: 50ms ease-in-out;
	text-align: right;
	position: relative;
}
.sidebar-right-list li a span{
	/*Número para informar a quantidade de itens dentro de um link*/
	position: absolute;
	left: 30px;
	color: #5F5F5F;
}
.sidebar-right-list>li>a:hover{
    color: #9CC283;
    padding-right: 7px;
}
/*==========================================*/

/* CABEÇALHO INDEX */
#header-flat{
	/*Container-mãe do cabeçalho da página index*/
	width: 100%;
	height: auto;
}
#header-flat-row1{
	/*Container-filho do cabeçalh da indexo*/
	width: 100%;
	height: 300px;
	overflow-y: hidden;
	position: relative;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#header-flat-row1 img{
	/*Imagem do cabeçalho da index*/
	max-width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#header-flat-row2{
	/*Segundo container-filho do cabeçalho da index*/
	width: 100%;
	height: auto;
	background-color: #FCFCFC;
}
#header-flat-overlay{
	/*Overlay container do cabeçalho da index*/
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	background: linear-gradient(to right, #9CC283, rgba(255,217,76,0.5));
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
#header-flat-overlay h2{
	/*Título cabeçalho produto-destaqu da indexe*/
	font-size: 38px;
	font-family: "Roboto Bold", sans-serif;
	color: #FFF;
}
#header-flat-overlay p{
	/*Descrição cabeçalho produto-destaque da index*/
	font-size: 16px;
	line-height: 21px;
	font-family: "Roboto Regular", sans-serif;
	color: #FFF;
	width: 35%;
}
#header-flat-overlay-seemore{
	/*Container do botão de ver mais do cabeçalho da index*/
	width: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	transition: 200ms ease-in-out;
}
#header-flat-overlay-seemore:hover{
	/*Ação de mover o mouse no botão*/
	background: rgba(0,0,0,0.2);
	cursor: pointer;
}
#header-flat-overlay-seemore figure{
	/*Container da imagem do botão*/
	width: 30px;
	height: 30px;
	padding: 0;
	margin: 0 auto;
}
#header-flat-overlay-seemore figure img{
	/*Imagem do botão*/
	width: 85%;
	height: 85%;
	display: block;
	margin: 0 auto;
}
/*==========================================*/

/* GRID GENÉRICO */
.generic-grid{
	/*Container-mãe da grelha genérica responsiva*/
	width: 100%;
	height: 100%;
	max-width: 100%;
    box-sizing: border-box;
    border: 30px solid #FCFCFC;
	margin: 0 auto;
	display: grid;
	grid-auto-flow: row;
	grid-gap: 30px 30px;
	grid-auto-rows: auto;
	grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
	justify-content: flex-start;
	align-items: flex-start;
}
.generic-card{
	/*Card da grelha genérica responsiva*/
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 4px 4px 10px 4px rgba(0,0,0,0.1);
	transition: 200ms ease-in-out;
	cursor: pointer;
	position: relative;
}
.generic-card:hover{
	/*Ação ao mover o mouse no card da grelha genérica responsiva*/
	box-shadow: 4px 4px 10px 4px rgba(0,0,0,0.2);
}
.generic-card-img{
	/*Imagem do card da grelha genérica responsiva*/
	max-width: 100%;
	object-fit: cover;
	display: block;
	border-radius: 10px;
    transition: 300ms ease-in-out;
}
.generic-card-overlay{
	/*Container acima do card da grelha genérica responsiva*/
	max-width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	border-radius: 10px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(transparent, rgba(0,0,0,0.5));
	box-shadow: 4px 4px 10px 4px rgba(0,0,0,0.1);
	transition: 200ms ease-in-out;
}
.generic-card:hover .generic-card-img{
	/*Ação ao mover o mouse no card da grelha genérica responsiva*/
	transform: scale(1.08);
}
.card-dish-name{
	/*Nome do prato da grelha genérica responsiva*/
	display: block;
	color: #FFF;
	font-size: 26px;
	font-family: "Roboto Bold";
	width: 80%;
	margin: auto;
	text-align: center;
}
.card-dish-separator{
	/*Separador da grelha genérica responsiva*/
	width: 30px;
	height: 3px;
	border-radius: 30px;
	background-color: #fff;
}
.card-dish-description{
	/*Descrição do prato da grelha genérica responsiva*/
	width: 80%;
	font-size: 16px;
	line-height: 21px;
	font-family: "Roboto Regular";
	color: #FFF;
	text-align: center;
}
.card-dish-price{
	/*Preço do prato da grelha genérica responsiva*/
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 21px;
	background: #E83131;
	width: 160px;
	height: 40px;
	transition: 50ms ease-out;
	border-radius: 5px;
}
.card-dish-price:hover{
	transform: scale(1.02);
}
.card-dish-price span{
	font-size: 18px;
	color: #FFF;
	font-family: "Roboto Medium";
	display: block;
}
.card-dish-price div{
	width: 28px;
	height: 28px;
}
.card-dish-price div img{
	max-width: 100%;
	display: block;
}
/*==========================================*/

/* PAGINADOR */
.pagination {
    display: inline-block;
}
.pagination a {
    color: #000;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-family: "Roboto Bold";
    font-size: 14px;
    transition: background-color .3s;
    box-sizing: border-box;
    background: #E8E8E8;
    margin: 0 4px;
    border-radius: 3px;
}
.pagination a.active {
    background: #9CC283;
    color: #FFF;
    box-sizing: border-box;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
/*==========================================*/

/*CLASSES DO SLIDER*/
.slider-1200-250{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.slider_content{
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: 500ms ease-out;
}
.slider {display:none; width: 100%;}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #FFF;
  font-weight: bold;
  font-size: 18px;
  transition: 300ms ease;
  border-radius: 0 3px 3px 0;
  z-index: 999;
  text-decoration: none;
}
.prev {
    left: 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: #202020;
  color: #9CC283;
  text-shadow: 1.5px 0px 0px gold;
}
/*==========================================*/


/* BAIXAR APLICATIVO NA HOME */
#app-section{
	/*Container-mãe da sessão do aplicativo na index*/
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
    flex-direction: row;
}
#app-section-content{
	/*Container-filho da sessão do aplicativo na index*/
	width: 100%;
	max-width: 600px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    margin: 0 auto;
}
#app-section-content h2{
	/*Título da sessão do aplicativo na index*/
	text-align: center;
	color: #000;
	font-size: 32px;
	width: 80%;
	font-family: 'Roboto Bold';
}
#app-section-separator{
	/*separador da sessão do aplicativo na index*/
	width: 80px;
	height: 4px;
	background: #000;
	border-radius: 50px;
}
#app-section-content p{
	/*Descrição da sessão do aplicativo na index*/
	width: 70%;
	font-size: 18px;
	font-family:'Roboto Regular';
	line-height: 23px;
	text-align: center;
}
#app-section-image{
	/*container da imagem do smartphone da sessão do aplicativo na index*/
	width: 100%;
	max-width: 600px;
	height: auto;
    margin: 0 auto;
}
#app-section-image img{
	/*Imagem do smartphone da sessão do aplicativo na index*/
	max-width: 100%;
}
#a-s-i-left{
	/*Imagem à esquerda*/
	display: block;
}
#a-s-i-center{
	/*Imagem ao centro*/
	display: none;
}
/*==========================================*/

/* SESSÃO SOBRE NÓS */
#about-us-block{
    /*Sessao-filho do cabeçalho da página sobre*/
    width: 100%;
	height: auto;
}

.about-us-content{
    /*Container-filho do cabeçalho da página sobre*/
    width: 100%;
    max-width: 1200px;
	height: auto;
}

.text-about-us{
    /*Container-filho da introdução da página sobre*/
    width: 100%;
	height: auto;
}
.about-us-title{
    /*Título da sessão*/
    font-family: "Roboto Bold";
    font-size: 21px;
    color: #000;
}
.about-us-text{
    /*Texto da sessão*/
    font-size: 16px;
    line-height: 24px;
    color: #4F4F4F;
    font-family: "Roboto Regular";
}
.about-us-image-container{
    /*Container-mãe das imagens da página sobre*/
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
}
.about-us-image-container img{
    /*Imagem da página sobre*/
    max-width: 100%;
    display: block;
}
/*==========================================*/

/* CASOS DE SUCESSO - JANELA DE ACESSO */
#success-cases-section{
	/*Container-mãe da sessão de casos de sucesso*/
	width: 100%;
	background: linear-gradient(#FCFCFC, #F9F9F9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#success-cases-content{
	/*Container-filho da sessão de casos de sucesso*/
	width: 80%;
	max-width: 800px;
	background-image: url('../images/backgrounds/img1.jpg');
	background-size: cover;
	border-radius: 10px;
	height: auto;
	padding: 0;
	margin: 120px auto;
	box-shadow: 4px 4px 10px 4px rgba(0,0,0,0.1);
}
#success-cases-content h2{
	/*Título da sessão de casos de sucesso*/
	color: #FFF;
	font-size: 21px;
	font-family: 'Roboto Bold';
}
#success-cases-separator{
	/*Separador da sessão de casos de sucesso*/
	width: 80px;
	height: 3px;
	background: #FFF;
	border-radius: 50px;
}
#success-cases-content p{
	/*Descrição da sessão de casos de sucesso*/
	color: #FCFCFC;
	font-size: 18px;
	line-height: 24px;
}
/*==========================================*/

/* BOTÃO GENÉRICO */
.btn-generic{
	/*Botão genérico*/
	width: 120px;
	height: auto;
	background: #9CC283;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	transition: 300ms ease-out;
}
.btn-generic span{
	/*Texto do botão genérico*/
	display: block;
	color: #FFF;
	font-family: "Roboto Bold";
	font-size: 16px;
	padding: 10px;
}
.btn-generic:hover{
	/*Ação ao mover o mouse no botão genérico*/
	transform: scale(1.02);
	cursor: pointer;
}
.btn-generic-disabled{
    /*Botão genérico desabilitado*/
	width: 120px;
	height: auto;
	background: #9F9F9F;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: none;
	outline: none;
	transition: 300ms ease-out;
}
.btn-generic-disabled span{
	/*Texto do botão genérico desativado*/
	display: block;
	color: #7F7F7F;
	font-family: "Roboto Bold Italic";
	font-size: 16px;
	padding: 10px;
}
/*==========================================*/

/* SEPARADOR GENÉRICO */
.separator-black{
	/*Separador genérico preto*/
	width: 80px;
	height: 3px;
	background-color: #000;
	border-radius: 50px;
}
.separator-white{
	/*Separador genérico branco*/
	width: 80px;
	height: 3px;
	background-color: #FFF;
	border-radius: 50px;
}
/*==========================================*/

/* POSICIONADORES - MARGIN */

/*Margin automático*/
.margin-auto{
	margin: 0 auto;
}
.margin-top-auto{
	margin-top: auto;
}
.margin-bottom-auto{
	margin-bottom: auto;
}
.margin-right-auto{
	margin-right: auto;
}
.margin-left-auto{
	margin-left: auto;
}

/*Margin em 0px*/
.margin-top-0px{
	margin-top: 0px;
}
.margin-bottom-0px{
	margin-bottom: 0px;
}
.margin-right-0px{
	margin-right: 0px;
}
.margin-left-0px{
	margin-left: 0px;
}

/*Margin em 5px*/
.margin-top-5px{
	margin-top: 5px;
}
.margin-bottom-5px{
	margin-bottom: 5px;
}
.margin-right-5px{
	margin-right: 5px;
}
.margin-left-5px{
	margin-left: 5px;
}

/*Margin em 15px*/
.margin-top-15px{
	margin-top: 15px;
}
.margin-bottom-15px{
	margin-bottom: 15px;
}
.margin-right-15px{
	margin-right: 15px;
}
.margin-left-15px{
	margin-left: 15px;
}

/*Margin em 30px*/
.margin-top-30px{
	margin-top: 30px;
}
.margin-bottom-30px{
	margin-bottom: 30px;
}
.margin-right-30px{
	margin-right: 30px;
}
.margin-left-30px{
	margin-left: 30px;
}

/*Margin em 60px*/
.margin-top-60px{
	margin-top: 60px;
}
.margin-bottom-60px{
	margin-bottom: 60px;
}
.margin-right-60px{
	margin-right: 60px;
}
.margin-left-60px{
	margin-left: 60px;
}
/*==========================================*/

/* POSICIONADORES - PADDING */

/*Padding automático*/
.padding-top-auto{
	padding-top: auto;
}
.padding-bottom-auto{
	padding-bottom: auto;
}
.padding-right-auto{
	padding-right: auto;
}
.padding-left-auto{
	padding-left: auto;
}

/*Padding em 0px*/
.padding-top-0px{
	padding-top: 0px;
}
.padding-bottom-0px{
	padding-bottom: 0px;
}
.padding-right-0px{
	padding-right: 0px;
}
.padding-left-0px{
	padding-left: 0px;
}

/*Padding em 5px*/
.padding-top-5px{
	padding-top: 5px;
}
.padding-bottom-5px{
	padding-bottom: 5px;
}
.padding-right-5px{
	padding-right: 5px;
}
.padding-left-5px{
	padding-left: 5px;
}

/*Padding em 15px*/
.padding-top-15px{
	padding-top: 15px;
}
.padding-bottom-15px{
	padding-bottom: 15px;
}
.padding-right-15px{
	padding-right: 15px;
}
.padding-left-15px{
	padding-left: 15px;
}

/*Padding em 30px*/
.padding-top-30px{
	padding-top: 30px;
}
.padding-bottom-30px{
	padding-bottom: 30px;
}
.padding-right-30px{
	padding-right: 30px;
}
.padding-left-30px{
	padding-left: 30px;
}

/*Padding em 60px*/
.padding-top-60px{
	padding-top: 60px;
}
.padding-bottom-60px{
	padding-bottom: 60px;
}
.padding-right-60px{
	padding-right: 60px;
}
.padding-left-60px{
	padding-left: 60px;
}
/*==========================================*/

/* LARGURAS */
.width-full{
  width: 95%;
  max-width: 1200px;
}
.width-big{
  width: 95%;
  max-width: 1000px;
}
.width-medium{
  width: 95%;
  max-width: 900px;
}
.width-small{
  width: 95%;
  max-width: 600px;
}
/*==========================================*/

/* FORMULÁRIOS */
.form-generic{
  height: auto;
  position: relative;
}
.form-generic-content{
  height: auto;
}
.label-generic{
  font-size: 18px;
  font-family: "Roboto Regular";
  color: #000;
  display: block;
}
.label-rdo{
  font-size: 16px;
  font-family: "Roboto Regular";
  color: #000;
}
.input-generic{
  width: 100%;
  border-radius: 5px;
  display: block;
  background-color: #E8E8E8;
  border: none;
  outline: none;
  height: 40px;
  text-indent: 15px;
  font-family: "Roboto Regular";
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
}
input[type=radio]{
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.textarea-generic{
  width: 100%;
  resize: none;
  height: 150px;
  background-color: #E8E8E8;
  border-radius: 5px;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto Regular";
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 15px;
}
/*==========================================*/

/*BARRA DE REDES SOCIAIS*/
.social-bar{
	width: 100px;
	height: 28px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 30px;
	right: 20px;
}
.social-bar img{
	width: 28px;
	height: 28px;
	display: block;
}
/*==========================================*/

